*{
  box-sizing: border-box;
}


header{
  display: flex;
  font-size: 23px;
  padding: 30px;
  font-family: monospace;
  background-color:rgb(243, 172, 101);
  color: rgb(65, 55, 46);
  transition: 0.7s ease;
}
header img{
  width: 100px;
}


form{
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100px;
  background-color: rgb(170, 238, 215);
}
form > *{
  height: 50%;
}
input{
  width: 60%;
  transition: 0.3s ease;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}
input:focus{
  border:none;
  outline: none;
  box-shadow: 0 5px 6px rgb(15, 233, 160);
}
input, form button{
  border:none;
}
form button{
  background-color: rgb(49, 100, 83);
  color: white;
  width: 10%;
  font-size: large;
  font-weight: bold;
}
form button:hover{
  background-color: teal;
}
input::placeholder{
  color: gray;
  font-weight: lighter;
}


.changeImage-btn{
  background-color:rgb(24, 188, 238);
  color:rgb(26, 67, 80);
  border: none;
  margin: 10px auto;
  padding: 10px 23px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: fit-content;
  font-size: medium;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  transition: 0.2s ease;
}
.changeImage-btn:active{
  background-color: lightskyblue;
}
.changeImage-btn:hover{
  outline: 3px solid rgba(44, 124, 134, 0.5);
}


.sub-message{
  font-size:15px;
  color: brown;
  margin: 0;
}
.success{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px auto;
}
.offline-message{
    color: red;
    font-size: 33px;
    font-weight: bold;
    margin: 15px auto;
}
.message{
    text-align: center;
}


.image-container{
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: space-evenly;
    margin: 20px auto;
}
.wrapper{
  position: relative;
  margin:10px;
  animation: opacityAnimation 2s ease;
}
.wrapper img{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.wrapper-content{
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    place-items: center;
    background-color: rgb(0, 0, 0,40%);
    animation: anim 0.2s ease-in-out;
}
.wrapper:hover > .wrapper-content{
    z-index: 1;
    display: grid;
}
.wrapper-content button{
    background-color:black;
    color: white;
    padding: 7px 20px;
    font-weight: bold;
    font-size: large;
    border: 2px solid rgb(255, 0, 0);
}


.modal{
  background-color: white;
  width: 60%;
  height: 90%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}
.modal-container{
  animation: modal-animate 0.1s ease-in-out;
}
.imageNumber{
  color: rgb(214, 178, 132);
  position: absolute;
  left: 15px;
  top: -15px;
}
@keyframes modal-animate {
  from{opacity: 0;} to{opacity: 1;}  
}
.modal img{
  height:98%;
  width: auto;
}
.modal-back{
    cursor: pointer;
    position: fixed;
    display: grid;
    place-items: center;
    top: 0;
    width: 100%;
    height:100%;
    bottom: 0;
    opacity: 0.8;
    background-color: rgb(0, 0, 0);
    animation: back-anime 0.3s ease;
    z-index: 10;
}
.close{
    position:absolute;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 15px;
    cursor: pointer;
    top: 0;
    color: red;
    right: 0;
    background-color: transparent;
    border: none;
}
.close:hover{
    transition: 0.3s ease-in-out;
    border:1px solid red;
}

@keyframes anim {
    from{opacity: 0;} to{opacity: 1;}
}
.nav-btn{
    background-color: transparent;
    font-size: 25px;
    padding: 12px;
    margin: auto 6px;
    border: 2px solid rgb(79, 117, 129);
    transition: 0.2s ease;
}
.nav-btn:hover{
    background-color: rgb(79, 117, 129);
    color: white;
}
.nav-btn:active{
    background-color: rgb(34, 61, 70);
}


.tooltip{
    background-color: rgba(0,0,0,90%);
    width: fit-content;
    padding: 7px 20px;
    color: white;
    font-weight: bold;
    font-family: monospace;
    border-radius: 7px;
    margin: 0;
    position: fixed;
    animation: tooltip-anime 0.3s ease;
    z-index: 103;
}
@keyframes tooltip-anime {
    from{opacity: 0;} to{opacity: 1;}
}
.arrow-down {
    position: absolute;
    top: 27px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(0,0,0,90%);
}


.error-modal{
  position: absolute;
  background-color: red;
  left: 50%;
  top:60px;
  transform: translate(-50%);
  color: white;
  width: fit-content;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px 20px;
  animation: errorModalAnimation 0.1s ease-in-out;
}
@keyframes errorModalAnimation {
  from{top: 0;} to{top: 60px;}
}


@keyframes opacityAnimation {
  from{opacity: 0;} to{opacity: 1;}
}

@media only screen and (max-width:1100px) {
  .image-container{
    grid-template-columns: repeat(4, auto);
  }
  .wrapper{
    margin: 4px
  }
  .modal{
    width: 80%;
  }
}

@media only screen and (max-width:800px) {
  .image-container{
    grid-template-columns: repeat(3, auto);
  }
  .wrapper{
    margin: 5px
  }
  .modal img{
    height: 80%;
  }
}

@media only screen and (max-width:500px) {
  .image-container{
    grid-template-columns: repeat(2,auto);
  }
  .wrapper{
    margin: 10px;
  }
  .modal img{
    width: 100%;
    height: auto;
  }
  .modal{
    width: 100%;
    height: 90%;
    background-color: white;
  }
  .close{
    top: 90%;
  }
.nav-btn{
  font-size: 20px;
  padding: 7px;
  font-weight: bolder;
  border: none;
  margin: 0;
}
header{
  font-size: 11px;
  padding: 18px;
}

header img{
  width: fit-content;
}

.changeImage-btn{
  padding: 10px 20px;
  font-size: large;
  font-family: normal;
}

.changeImage-btn:active{
  background-color: lightskyblue;
}

.changeImage-btn:hover{
  outline: none;
}


form > *{
  height: 40%;
}
input{
  width:76%;
  font-size: 15px;
}
form button{
  background-color: rgb(49, 100, 83);
  color: white;
  width: 20%;
  font-size: small;
}
form button:hover{
  background-color: rgb(49, 100, 83);
}
.tooltip{
  display: none;
}
.sub-message{
  font-size:13px;
}
.success{
    font-size: 15px;
}
.offline-message{
    font-size: 20px;
}
.wrapper-content{
  display: block;
  background-color: transparent;
}
.wrapper-content button{
  height: 100%;
  width: 100%;
  opacity: 0;
}
.nav-btn:hover{
  background-color: transparent;
  color: black;
}
.nav-btn:active{
  background-color: black;
  color: white;
}
}